@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --product-gradient: linear-gradient(135deg, #FFB74D 0%, #FFA726 100%); /* Default Fallback */
}

body {
  color: #fff;
  background: var(--product-gradient);
  min-height: 100vh;
  transition: background 1s ease-in-out;
  overflow-x: hidden;
}

/* Custom Selection */
::selection {
  background-color: #f97316; /* orange-500 */
  color: white;
}

/* Scrollbar Hiding */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Utility to ensure canvas fits */
canvas {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
